:root {
    /* Base Colors */
    --void-black:rgb(25, 25, 41);
    --deep-space: #12121D;
    --nebula-gray: #1A1A2E;
    --stellar-gray: #2D2D44;
    --stellar-gray-transparent:rgba(98, 98, 122, 0.34);
    
    /* Accent Colors */
    --blue: #00F3FF;
    --pink: #FF00FF;
    --purple: #8A2BE2;
    
    /* Text Colors */
    --white:rgb(237, 237, 251);
    --grey:rgb(191, 191, 215);
    
    /* Gradients */
    --main-gradient: linear-gradient(
        135deg,
        var(--void-black) 0%,
        var(--stellar-gray) 100%
    );
    
    --accent-gradient: linear-gradient(
        45deg,
        var(--purple),
        var(--pink),
        var(--blue)
    );

    --button-bg: rgba(255, 255, 255, 0.15);      /* Lighter base color */
    --button-hover: rgba(255, 255, 255, 0.22);
}


